@import 'reset.css';
@import 'circles.css';
@font-face {
    font-family: "inter";
    src: url('inter.ttf');
    src: url('inter.ttf'); /* IE9 Compat Modes */
    src: url('inter.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('inter.ttf') format('truetype'), /* Super Modern Browsers */
}

body {
  height: 2000vh;
  background: linear-gradient(180deg, black 0%, #002876 25%, #0038FF 50%, #80B2FC 75%, #d9e6fb 100%);
}


.badtxt {
  display: block;
  position: absolute;
  transform-origin: center;
}

.cfix {
  transform: translate(-50%,-50%);
}

.badtxtjustify {
  pointer-events: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
  margin-top: 50vh;
  align-items: center;
}


#ii{
  pointer-events: all;
  position:fixed;
  width:100vw;
  height: 100vh;
  -webkit-mask: url(https://vasileves.github.io/JS-poster/res/boshka.svg);
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 20vh;
  mask: url(https://vasileves.github.io/JS-poster/res/boshka.svg);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 20vh;
  background-color: #fff;
}

@media screen and (max-width: 1020px) {
  #ii{
      mask-size: 19vw;
      -webkit-mask-size: 19vw;
  }
}

.darkwave {
  display: flex;
  justify-content: center;
  will-change: transform;
  pointer-events: none;
  transform: translateY(+50%);
  position: fixed;
  width: 100vw;
  height: 100vh;
  align-items: center;
  animation: wdark 1s linear infinite;
}

.lightwave {
  pointer-events: none;
  will-change: transform;
  transform: translateY(+45%);
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  animation: wlight 2s linear infinite;
}

@media screen and (max-height: 890px) {
.darkwave {
  transform: translateY(+57%);
}
.lighwave {
    transform: translateY(+48%);
  }
}

@media screen and (max-height: 768px) {
.darkwave {
  transform: translateY(+73%);
}
.lighwave {
    transform: translateY(+73%);
  }
}


.bgend {
  pointer-events: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}
.fadeanim {
  -webkit-animation: fadein 2s;
        animation: fadein 2s;
}

.logo {
  transform: scale(1.5,1.5)
  -webkit-animation: blur 1s;
        animation: blur 1s;
}

#link1 {
  position: absolute;
  margin-top: 350vh;
}

#link2 {
  position: absolute;
  margin-top: 801vh;
}

#link3 {
  position: absolute;
  margin-top: 1310vh;
}
#link4 {
  position: absolute;
  margin-top: 2000vh;
}

#particles {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

@keyframes blur {
  0% { -webkit-filter: blur(200px);}
  100% { -webkit-filter: blur(0px);}
}



@keyframes wlight {
 0% {
   margin-left: 0px;
 }

 100% {
   margin-left: -200px;
 }
}

@keyframes wdark {
 0% {
   margin-left: 0px;
 }

 100% {
   margin-left: 200px;
 }
}



@keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1;}
}
