@font-face {
    font-family: "inter";
    src: url('inter.ttf');
    src: url('inter.ttf'); /* IE9 Compat Modes */
    src: url('inter.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('inter.ttf') format('truetype'), /* Super Modern Browsers */
}

body {
  height: 2000vh;
  background: linear-gradient(180deg, black 0%, #002876 25%, #0038FF 50%, #80B2FC 75%, #fff 95%);
}

.badtxt {
  display: block;
  position: absolute;
  transform-origin: center;
}

.s {
  transform: translate(-50%,-50%);
}

.badtxtjustify {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
  margin-top: 50vh;
  display: flex;
  align-items: center;
}



#ii{
  position:fixed;
  width:100vw;
  height: 100vh;
  -webkit-mask: url(https://vasileves.github.io/JS-poster/res/boshka.svg);
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 200px;
  mask: url(https://vasileves.github.io/JS-poster/res/boshka.svg);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 200px;
  background-color: #fff;
}

.darkwave {
  will-change: transform;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
  margin-top: 95vh;
  display: flex;
  align-items: center;
  animation: wdark 1s linear infinite;
}

.lightwave {
  will-change: transform;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
  margin-top: 88vh;
  display: flex;
  align-items: center;
  animation: wlight 2s linear infinite;
}

.stxt1 {
will-change: transform;
font-family: 'inter', sans-serif;
font-size: 28pt;
font-variation-settings: 'wght' 500;
letter-spacing: 10.6px;
}

.stxt2 {
will-change: transform;
font-family: 'inter', sans-serif;
font-size: 28pt;
font-variation-settings: 'wght' 500;
letter-spacing: 17.4px;
}

.stxt3 {
will-change: transform;
font-family: 'inter', sans-serif;
font-size: 28pt;
font-variation-settings: 'wght' 500;
letter-spacing: 9.4px;
}

/* 500 300 100 */

.mtxt1 {
will-change: transform;
font-family: 'inter', sans-serif;
font-size: 28pt;
font-variation-settings: 'wght' 300;
letter-spacing: 20.4px;
/* letter-spacing: 5px; */
/* animation: txt2 2s ease-in-out infinite; */
}

.ltxt1 {
will-change: transform;
font-family: 'inter', sans-serif;
font-size: 28pt;
font-variation-settings: 'wght' 100;
letter-spacing: 40px;
/* letter-spacing: 5px; */
/* animation: txt3 2s ease-in-out infinite; */
}

/*
 @keyframes txt1 {
	75% {
		opacity: 50;
	}

	100% {
		opacity: 100;
	}
}

@keyframes txt2 {
	50% {
		opacity: 50;
	}

	75% {
		opacity: 100;
	}
}

@keyframes txt3 {
	25% {
		opacity: 50;
	}

	50% {
		opacity: 100;
	}
} */

@keyframes wlight {
 0% {
   margin-left: 0px;
 }

 100% {
   margin-left: -200px;
 }
}

@keyframes wdark {
 0% {
   margin-left: 0px;
 }

 100% {
   margin-left: 200px;
 }
}
